In [1]:
import pandas as pd
import requests

In [2]:
# Accessing the Ergast F1 API. This was especially complex and could only be done in python due to the multiple levels 
# of nesting (MRData, StandingsTable, StandingsLists etc) present in the API

def constructor_standings(year):
    url = 'http://ergast.com/api/f1/{}/constructorStandings.json?limit=1000000'.format(year)
    r = requests.get(url)
    constructorStandings = r.json()['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']
    for i in constructorStandings:
        i['constructorID'] = i['Constructor']['constructorId']
        i['name'] = i['Constructor']['name']
        del i['Constructor']
    return pd.DataFrame(constructorStandings)

In [17]:
master_data = pd.DataFrame()

for i in range(2012, 2022):
    df = constructor_standings(i)
    df = df[['name', 'points', 'constructorID']]
    df['year'] = i
    master_data = master_data.append(df)


print(master_data)

            name points constructorID  year
0       Red Bull    460      red_bull  2012
1        Ferrari    400       ferrari  2012
2        McLaren    378       mclaren  2012
3       Lotus F1    303      lotus_f1  2012
4       Mercedes    142      mercedes  2012
..           ...    ...           ...   ...
5     AlphaTauri    142    alphatauri  2021
6   Aston Martin     77  aston_martin  2021
7       Williams     23      williams  2021
8     Alfa Romeo     13          alfa  2021
9   Haas F1 Team      0          haas  2021

[105 rows x 4 columns]

In [18]:
master_data[master_data.year == 2019]

           name points constructorID  year
0      Mercedes    739      mercedes  2019
1       Ferrari    504       ferrari  2019
2      Red Bull    417      red_bull  2019
3       McLaren    145       mclaren  2019
4       Renault     91       renault  2019
5    Toro Rosso     85    toro_rosso  2019
6  Racing Point     73  racing_point  2019
7    Alfa Romeo     57          alfa  2019
8  Haas F1 Team     28          haas  2019
9      Williams      1      williams  2019

In [19]:
constructor_list = ['mercedes', 'red_bull', 'ferrari', 'williams', 'mclaren', 'alpine', 'alphatauri', 'alfa', 'aston_martin']

In [20]:
master_data['constructorID'].replace("lotus_f1", "alpine", inplace=True)
master_data['constructorID'].replace("renault", "alpine", inplace=True)

master_data['constructorID'].replace("sauber", "alfa", inplace=True)

master_data['constructorID'].replace("toro_rosso", "alphatauri", inplace=True)

master_data['constructorID'].replace("force_india", "aston_martin", inplace=True)
master_data['constructorID'].replace("racing_point", "aston_martin", inplace=True)

In [22]:
master_data['name'].replace("Lotus F1", "Alpine F1 Team", inplace=True)
master_data['name'].replace("Renault", "Alpine F1 Team", inplace=True)

master_data['name'].replace("Sauber", "Alfa Romeo", inplace=True)

master_data['name'].replace("Toro Rosso", "AlphaTauri", inplace=True)

master_data['name'].replace("Force India", "Aston Martin", inplace=True)
master_data['name'].replace("Racing Point", "Aston Martin", inplace=True)

In [23]:
master_data = master_data[master_data['constructorID'].isin(constructor_list)]

In [24]:
master_data

              name points constructorID  year
0         Red Bull    460      red_bull  2012
1          Ferrari    400       ferrari  2012
2          McLaren    378       mclaren  2012
3   Alpine F1 Team    303        alpine  2012
4         Mercedes    142      mercedes  2012
..             ...    ...           ...   ...
4   Alpine F1 Team    155        alpine  2021
5       AlphaTauri    142    alphatauri  2021
6     Aston Martin     77  aston_martin  2021
7         Williams     23      williams  2021
8       Alfa Romeo     13          alfa  2021

[90 rows x 4 columns]

In [25]:
#master_data.to_csv('chart2-constructor-standings-2012-2021.csv')
master_data.to_excel('chart2-constructor-standings-2012-2021.xlsx')