In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

This python file is used to access yahoo finance through the yfinance python module to access stock data for Mercedes (Daimler AG), Williams F1, Ferrari, Renault, Aston Marting and Alfa Romeo

In [2]:
tickers_list = ['DAI.DE', 'RACE', 'WGF1.F', 'RNL.DE', 'AML.L', 'STLA']
data = yf.download(tickers_list, '2012-1-1', '2021-1-1')['Adj Close']

[*********************100%***********************]  6 of 6 completed

In [3]:
data = data.reset_index()

In [7]:
data['Date'] = pd.DatetimeIndex(data['Date']).year
data = data.groupby('Date', as_index=False)[['RACE', 'DAI.DE', 'WGF1.F', 'AML.L', 'RNL.DE']].mean()

In [10]:
data.rename(columns={'DAI.DE': 'DAI', 'AML.L': 'AML', 'RNL.DE': 'RNL', 'WGF1.F': 'WGF1'})

   Date        RACE        DAI       WGF1          AML        RNL
0  2012         NaN  26.064442  21.758508          NaN  25.708753
1  2013         NaN  34.907027  19.977609          NaN  41.273753
2  2014         NaN  46.544923  17.564194          NaN  49.464099
3  2015   47.150623  59.162832  14.856024          NaN  65.756157
4  2016   44.125627  48.472419  13.884035          NaN  62.972294
5  2017   88.539899  54.633371  17.855486          NaN  68.929516
6  2018  121.375398  51.626193  16.768651  9158.121157  67.791353
7  2019  145.089181  44.656073  13.842231  5248.545584  49.034163
8  2020  177.082222  39.925434  11.964567  1499.399315  25.031306

In [11]:
data.to_csv('f1-team-stock-prices.csv')

In [4]:
aml = data[['Date', 'AML.L']]
ferrari = data[['Date', 'RACE']]
mercedes = data[['Date', 'DAI.DE']]
williams = data[['Date', 'WGF1.F']]
renault = data[['Date', '']]

In [5]:
aml = aml = aml.dropna()
ferrari = ferrari.dropna()

In [6]:
ferrari['Date'] = pd.DatetimeIndex(ferrari['Date']).year
ferrari = ferrari.groupby('Date', as_index=False)['RACE'].mean()

In [7]:
mercedes['Date'] = pd.DatetimeIndex(mercedes['Date']).year
mercedes = mercedes.groupby('Date', as_index=False)['DAI.DE'].mean()

/var/folders/ry/nqgxl42n3vjg1sj6zlxsr0rr0000gn/T/ipykernel_3501/2207470711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mercedes['Date'] = pd.DatetimeIndex(mercedes['Date']).year

In [8]:
williams['Date'] = pd.DatetimeIndex(williams['Date']).year
williams = williams.groupby('Date', as_index=False)['WGF1.F'].mean()

/var/folders/ry/nqgxl42n3vjg1sj6zlxsr0rr0000gn/T/ipykernel_3501/2678651929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  williams['Date'] = pd.DatetimeIndex(williams['Date']).year

In [9]:
aml['Date'] = pd.DatetimeIndex(aml['Date']).year
aml = aml.groupby('Date', as_index=False)['AML.L'].mean()

In [10]:
master = pd.DataFrame()
master['year'] = mercedes['Date']
master['mercedes'] = mercedes['DAI.DE']
master['williams'] = williams['WGF1.F']
master['ferrari'] = ferrari['RACE']
master['aston_martin'] = aml['AML.L']

In [ ]:
# Only Mercedes and Williams are used as they are the only two teams with stock data going back to 2012.
master.to_csv('f1-mercedes-williams-stocks.csv')