In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
dai = yf.Ticker("DAI.DE").history(period="10y", interval="1mo")
ferrari = yf.Ticker("RACE").history(period="10y", interval="1mo")
williams = yf.Ticker("WGF1.F").history(period="10y", interval="1mo")
alpine = yf.Ticker("RNl.DE").history(period="10y", interval="1mo")
aston = yf.Ticker("AML.L").history(period="10y", interval="1mo")
alfa = yf.Ticker("STLA").history(period="10y", interval="1mo")

In [3]:
dai = dai.reset_index()
dai = dai[['Date', 'Close']]

ferrari = ferrari.reset_index()
ferrari = ferrari[['Date', 'Close']]

williams = williams.reset_index()
williams = williams[['Date', 'Close']]

alpine = alpine.reset_index()
alpine = alpine[['Date', 'Close']]

aston = aston.reset_index()
aston = aston[['Date', 'Close']]

alfa = alfa.reset_index()
alfa = alfa[['Date', 'Close']]

In [4]:
tickers_list = ['DAI.DE', 'RACE', 'WGF1.F', 'RNL.DE', 'AML.L', 'STLA']
data = yf.download(tickers_list, '2012-1-1', '2021-1-1')['Adj Close']

[*********************100%***********************]  6 of 6 completed

In [5]:
data = data.reset_index()

In [6]:
aml = data[['Date', 'AML.L']]

In [7]:
aml

           Date        AML.L
0    2012-01-02          NaN
1    2012-01-03          NaN
2    2012-01-04          NaN
3    2012-01-05          NaN
4    2012-01-06          NaN
...         ...          ...
2320 2020-12-24  1832.800049
2321 2020-12-28          NaN
2322 2020-12-29  1969.000000
2323 2020-12-30  2004.000000
2324 2020-12-31  2009.000000

[2325 rows x 2 columns]

In [69]:
aml['Date'] = pd.to_datetime(aml.Date)

aml.groupby(data.Date.dt.year)['Date'].transform('mean')

/var/folders/ry/nqgxl42n3vjg1sj6zlxsr0rr0000gn/T/ipykernel_4264/814574179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aml['Date'] = pd.to_datetime(aml.Date)

0      2012-06-30 20:28:43.552123648
1      2012-06-30 20:28:43.552123648
2      2012-06-30 20:28:43.552123648
3      2012-06-30 20:28:43.552123648
4      2012-06-30 20:28:43.552123648
                    ...
2320   2020-07-02 01:01:09.498069504
2321   2020-07-02 01:01:09.498069504
2322   2020-07-02 01:01:09.498069504
2323   2020-07-02 01:01:09.498069504
2324   2020-07-02 01:01:09.498069504
Name: Date, Length: 2325, dtype: datetime64[ns]

In [70]:
aml

           Date        AML.L
0    2012-01-02          NaN
1    2012-01-03          NaN
2    2012-01-04          NaN
3    2012-01-05          NaN
4    2012-01-06          NaN
...         ...          ...
2320 2020-12-24  1832.800049
2321 2020-12-28          NaN
2322 2020-12-29  1969.000000
2323 2020-12-30  2004.000000
2324 2020-12-31  2009.000000

[2325 rows x 2 columns]